backcall==0.2.0
beautifulsoup4==4.13.4
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
cycler==0.11.0
decorator==5.1.1
dotenv==0.9.9
fonttools==4.38.0
google==3.0.0
google-api-core==2.24.2
google-api-python-client==2.167.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.70.0
httplib2==0.22.0
idna==3.10
ipython==7.34.0
jedi==0.19.2
kiwisolver==1.4.5
matplotlib==3.5.3
matplotlib-inline==0.1.6
numpy==1.21.6
oauthlib==3.2.2
packaging==24.0
parso==0.8.4
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.48
proto-plus==1.26.1
protobuf==4.24.4
pyasn1==0.5.1
pyasn1-modules==0.3.0
pygments==2.17.2
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
soupsieve==2.4.1
traitlets==5.9.0
typing-extensions==4.7.1
uritemplate==4.1.1
urllib3==2.0.7
wcwidth==0.2.13
reportlab